.result {
  width: 250px;
}
h1 {
  transition: all 10000ms ease-in-out;
}
@keyframes anmation {
  0% {
    color: rgb(92, 84, 84);
  }
  50% {
    color: rgb(54, 50, 50);
  }
  100% {
    color: rgb(54, 50, 50);

  }
}
